.fullBackground {	background-position: center center;
					background-attachment: fixed;
					background-size: cover;
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				
* 	{	box-sizing: border-box;
	}

body	{	margin:0;
			/*height: 100%;
			background-color: #cccccc;
			background-image: radial-gradient(white, silver,grey);*/
		}

header	{	color:#FFFFFF;
			text-align:left;
			padding-left:4%;
			padding-top:0.7em;
			float:left;
			margin:0;
			font-size:2em;
		}
		
.clear	{	clear:both;
			margin-top:3em;
		}	
		
.container	{	padding-left:10%;
				padding-right:10%;
				margin-bottom:0;
			}
			
nav	{	margin:-1em;
		background-color:#000000;
		text-align:right;
		padding-right:3em;
		line-height:2.2em;
		position:fixed;
		width:100%;
		height:4em;
		top:0;
		box-sizing: content-box;
		z-index:2;
		font-family:candara,'bookman old style', sans-serif;
	}

nav li	{	list-style-type:none;
			margin:0;
			display:inline-block;
			padding:1.1em;
			padding-top:0.4em;
			padding-bottom:0.4em;
			color:#FFFFFF;
			cursor:pointer;
			z-index:2;
		}
		
nav li a	{	text-decoration:none;
				color:#FFFFFF;
				z-index:2;
			}		
				
.sub-menu-parent	{	position: relative; 
					}

.sub-menu-parent	{	position: relative; 
						z-index:2;
					}

.sub-menu	{ 	visibility: hidden; 
				opacity: 0;
				position: absolute;
				top: 100%;
				left: -2.5em;
				width: 100%;
				transform: translateY(-2em);
				z-index: -1;
				transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
				text-align:center;
				margin-left:0;
				margin-top:0em;
				z-index:2;
			}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:hover .sub-menu 
{
	visibility: visible; 
	opacity: 1;
	z-index: 2;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s; 
}			
		
nav ul ul li 	{	height:3em;
					padding-top:1em;
					z-index:2;
					padding-left:0.6em;
					display:block;
					border-bottom:0.05em solid #FFFFFF;
					width:7em;
					padding-left:1em;
					margin-left:0;
					text-decoration:none;
					line-height:1.3em;
					background-color:#EEEEEE;
					padding-left:0.7em;
					color:#666666;
				}
				
nav ul ul a	{	color:#666666;}
					
nav li:hover ul	{	display:block;
				}

nav li:link	{	color: #FFFFFF; 
			}
			
nav li:visited	{	color: #FFFFFF; 
				}
				
nav li:hover	{	color: #000000;
					background-color: #FFFFFF;
				}	
				
nav ul ul li:hover 	{	background-color: #CCCCCC;
						color: #FFFFFF;
					}

nav div	{	visibility:hidden;
		}
				
div.more	{	width: 2em;
				height: 0.25em;
				background-color: #FFFFFF;
				margin: 0.3em 4em;
			}
			
.btnDrop	{	position:relative;
				border-radius:1em;
				width:15em;
				height:2em;
				font-size:1em;
				margin:0;
				padding:0;
				cursor:pointer;
				border:none;
				padding-top:0.8em;
				cursor:pointer;
			}
			
.dropDown	{	position:relative;
				display:inline-block;
				bottom:2.9em;
				padding-right:0;
				left:77%;
				width:100%;
			}
			
.dropContent 	{	display: none;
					position: relative;
					background-color: #000000;
					overflow: auto;
					z-index: 1;
					bottom:0em;
					padding:0;
					width:100%;
					right:73.5%;
					height:100vh;
				}
				
.dropContent a	{	text-decoration:none;
					color:#FFFFFF;
					display:block;
				}
				
.dropContent li	{	border-bottom:0.1em solid #FFFFFF;
					width:100%;
					text-align:center;
					padding-top:0.2em;
					position:relative;
					right:0;
				}

.dropDown li:hover	{	background-color: #FFFFFF;
						color:#000000;
					}
					
.dropDown li:hover a	{	color:#000000;
						}
						
.show	{	display:block;
		}
			
#navTop	{	background:none;
			padding:0.5em;
			display: inline-block;
			font-size: 4em;
			height:1.5em;
			margin:0;
			position: fixed;
			bottom: 0.5em;
			right: 0.2em;
			cursor: pointer;
			visibility: hidden;
			color:black;
			font-weight:bold;
			text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
		}	
		
#navTop:hover	{	background:none;
					color:#CCCCCC;
					text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
					text-decoration:none;
				}
		
#navTop.show	{	visibility: visible;
				}

footer p	{	margin:0;
			}

footer	{	background-color:#000000;
			color:#AAAAAA;
			text-align:center;
			font-family:sans-serif;
			font-size:0.8em;
			line-height:3em;
			margin:0;
		}

/*content css starts here*/
.contentWrapper	{	padding: 5% 10%;
					font-size:120%;
				}

.ip2 {
    border-radius: 0.7em;
    border: 0.8px solid grey;
    padding-left: 0.6em;
}

.checked {
  color: orange;
}

.formBorder{
	line-height: 20pt;
	border: 2px solid black;
 	padding: 1em;
	padding-left:2.5em;
	padding-right:2.5em;
	border-radius: 25px;
	background-color:rgba(255,255,255,0.9);
}

.contentWrapper p	{	text-align: justify;}

h2	{	font-size:200%;
		padding-top: 5px;
		padding-bottom: 15px;
	}

.btnDefault {
  border: none;
  background-color: inherit;
  padding: 0.8%;
  border-radius:1em;
  font-size: 0.85em;
  cursor: pointer;
  display: inline-block;
  width:12%;
  margin-bottom:3%;
  margin-top:2.5%;
  border:1px solid black;
}

.btnDefault:hover	{	background: #eee;
					}
					
.contentWrapper select,input	{	height:2em;
									width: 35%;
									margin-bottom:2%;
									margin-top:1%;
								}
				
textarea	{	width:35%;
				margin-top:1%;
			}
			
.info	{	padding-left:5%;
			background-color:#CBD1D5;
		}
	
.btnSubs	{	width:10%;
				height:2em;
				margin-top:1%;
				font-size:90%;
				border-radius:1em;
				background-color:rgba(255,255,255,0.5);
				border:1px solid black;
				font-size:1em;
			}
			
.btnSubs:focus	{	background-color:black;
					color:#CCCCCC;
				}
				
.follow a	{	padding-right:7%;}

.fa-facebook, .fa-twitter-square, .fa-youtube, .fa-google-plus-square	{	color:#888888}

a:hover .fa-google-plus-square	{	color:#d34836;
								}

a:hover .fa-facebook	{	color:#3b5998;
						}

a:hover .fa-twitter-square	{	color:#1DA1F2;
							}
							
a:hover .fa-youtube	{	color:#FF0000;
					}	
					
.boxSub	{	border-radius:1em;
			padding:0.2em;
			padding-left:0.4em;
			height:2em;
			width:22em;
		}
		
.subscribe p	{	margin-bottom:0.5em;
					font-weight:bold;
				}
				
.info th, .info td	{	text-align:left;
				width:5%;
			}
		
.info th	{	height:3em;
				font-family:'Arial Rounded MT Bold', sans-serif;
			}
		
.info table	{	padding:1em;
				padding-top:2em;
			}
		
.subscribe	{	text-align:center;
				padding-bottom:1.5em;
				padding-top:1em;
			}
			
.info a	{	text-decoration:none;
			color:black;
		}
	
.info a:hover	{	text-decoration:underline black;
					}
		
.info table a:visited	{	color:black;
				}
				
.breadcrumb	{	margin-left:1.5%;
				padding-top:3%;
			}
			
.mobile	{	display:none;}

@media only screen and (max-width:768px){
	nav ul	{display:none;}
	header	{padding-left:2em;}
	#navTop	{display:none;}
	footer	{line-height:2.5em;}
	nav div	{visibility:visible;}
	textarea,select,input	{width:80%;}
	.btnDefault	{width:40%;padding-top:1.5%;}
	p	{	text-align: left;}
	.contentWrapper 	{padding-left:5%;padding-right:5%;}
	header	{padding-left:10%}
	.fa-google-plus-square	{color:#d34836;}
	.fa-facebook	{color:#3b5998;}
	.fa-twitter-square	{color:#1DA1F2;}
	.fa-youtube	{color:#FF0000;}
	.btnSubs	{width:50%;}
	.follow	{text-align:center;padding-top:2%;padding-bottom:5%;}
	.follow h4	{font-size:130%;}
	.boxSub	{width:90%;}
	.breadcrumb	{text-align:center;padding-bottom:7%;padding-top:5%;}
	.mobile	{display:block;padding-top:3%}
	.desktop	{display:none;}
	}
