* 	{	box-sizing: border-box;
	}

body	{	margin:0;
		}
		
main	{	background-image: radial-gradient(circle, #e9ebeb, #e1e3e3, #d9dbdb, #d2d3d3, #cacbcb, #c4c7c8, #bec2c5, #babdc2, #b2bcc3, #a7bbc2, #9dbabe, #95b9b6);
			font-family:candara,'bookman old style', sans-serif;
		}

header	{	color:#FFFFFF;
			text-align:left;
			padding-left:4%;
			padding-top:0.7em;
			float:left;
			margin:0;
			font-size:2em;
		}
		
.clear	{	clear:both;
			margin-top:3em;
		}	
		
.container	{	padding-left:10%;
				padding-right:10%;
			}
			
nav	{	margin:-1em;
		background-color:#000000;
		text-align:right;
		padding-right:3em;
		line-height:2.2em;
		position:fixed;
		width:100%;
		height:4em;
		top:0;
		box-sizing: content-box;
		z-index:2;
		font-family:candara,'bookman old style', sans-serif;
	}

nav li	{	list-style-type:none;
			margin:0;
			display:inline-block;
			padding:1.1em;
			padding-top:0.4em;
			padding-bottom:0.4em;
			color:#FFFFFF;
			cursor:pointer;
			z-index:2;
		}
		
nav li a	{	text-decoration:none;
				color:#FFFFFF;
				z-index:2;
			}		
				
.sub-menu-parent	{	position: relative; 
					}

.sub-menu-parent	{	position: relative; 
						z-index:2;
					}

.sub-menu	{ 	visibility: hidden; 
				opacity: 0;
				position: absolute;
				top: 100%;
				left: -2.5em;
				width: 100%;
				transform: translateY(-2em);
				z-index: -1;
				transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
				text-align:center;
				margin-left:0;
				margin-top:0em;
				z-index:2;
			}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:hover .sub-menu 
{
	visibility: visible; 
	opacity: 1;
	z-index: 2;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s; 
}			
		
nav ul ul li 	{	height:3em;
					padding-top:1em;
					z-index:2;
					padding-left:0.6em;
					display:block;
					border-bottom:0.05em solid #FFFFFF;
					width:7em;
					padding-left:1em;
					margin-left:0;
					text-decoration:none;
					line-height:1.3em;
					background-color:#EEEEEE;
					padding-left:0.7em;
					color:#666666;
				}
				
nav ul ul a	{	color:#666666;}
					
nav li:hover ul	{	display:block;
				}

nav li:link	{	color: #FFFFFF; 
			}
			
nav li:visited	{	color: #FFFFFF; 
				}
				
nav li:hover	{	color: #000000;
					background-color: #FFFFFF;
				}	
				
nav ul ul li:hover 	{	background-color: #CCCCCC;
						color: #FFFFFF;
					}

nav div	{	visibility:hidden;
		}
				
div.more	{	width: 2em;
				height: 0.25em;
				background-color: #FFFFFF;
				margin: 0.3em 4em;
			}
			
.btnDrop	{	position:relative;
				border-radius:1em;
				width:15em;
				height:2em;
				font-size:1em;
				margin:0;
				padding:0;
				cursor:pointer;
				border:none;
				padding-top:0.8em;
				cursor:pointer;
			}
			
.dropDown	{	position:relative;
				display:inline-block;
				bottom:2.9em;
				padding-right:0;
				left:77%;
				width:100%;
			}
			
.dropContent 	{	display: none;
					position: relative;
					background-color: #000000;
					overflow: auto;
					z-index: 1;
					bottom:0em;
					padding:0;
					width:100%;
					right:75%;
					height:100vh;
				}
				
.dropContent a	{	text-decoration:none;
					color:#FFFFFF;
					display:block;
				}
				
.dropContent li	{	border-bottom:0.1em solid #FFFFFF;
					width:100%;
					text-align:center;
					padding-top:0.2em;
					position:relative;
					right:0;
				}

.dropDown li:hover	{	background-color: #FFFFFF;
						color:#000000;
					}
					
.dropDown li:hover a	{	color:#000000;
						}
						
.show	{	display:block;
		}
			
#navTop	{	background:none;
			padding:0.5em;
			display: inline-block;
			font-size: 4em;
			height:1.5em;
			margin:0;
			position: fixed;
			bottom: 0.5em;
			right: 0.2em;
			cursor: pointer;
			visibility: hidden;
			color:black;
			font-weight:bold;
			text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
		}	
		
#navTop:hover	{	background:none;
					color:#CCCCCC;
					text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
					text-decoration:none;
				}
		
#navTop.show	{	visibility: visible;
				}

footer p	{	margin:0;
			}

footer	{	background-color:#000000;
			color:#AAAAAA;
			text-align:center;
			font-family:sans-serif;
			font-size:0.8em;
			line-height:3em;
			margin:0;
		}

/*content css starts here*/

.banner	{	background:url(Images/promotion/rand3.jpg) no-repeat center center fixed;
			width:100%;
			background-size:cover;
			height:100vh;
			text-shadow: 2px 2px 2px white;
		}
		
.title	{	padding-top:3%;
			padding-left:5%;
		}

.title h2	{	font-size:340%;
				font-family:'Arial Rounded MT Bold', sans-serif;
			}

.title h3	{	font-size:240%;
			}

.nav2	{	background-color:#333333;
			padding:0.3em;
			padding-top:0.1em;
			height:3.1em;
			text-align:center;
			margin-bottom:0;
			position:sticky;
			top: 2.5em;
			z-index:1;
		}
			
.nav2 ul li	{	list-style-type:none;
				display:inline;
				padding:0;
				margin:3.4em;
			}
			
.nav2 a	{	text-decoration:none;
			color:white;
		}
		
.nav2 a:hover	{	text-decoration:underline white;
				}

div.gallery	{	margin: 5px;
				border: 1px solid #ccc;
				width: 30%;
			}

div.gallery:hover {	border: 1px solid #777;}

.button	{	background-color: #ddd;
			border: none;
			color: black;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 16px;
			width:80%;
		}

.button:hover	{	border:1px solid black;
				}
				
.phone div	{	display:inline-block;
				width:30%;
				margin-left:2%;
				text-align:center;
				padding-bottom:3%;
				padding-top:3%;
			}
			
.phone	{	background-image: linear-gradient(to right top, #f8ebbe, #d4ebc1, #b2e8cf, #9be2e1, #97d8ef, #9dd7f2, #a3d6f5, #aad5f7, #aae0f9, #afe9fa, #b7f3f9, #c3fbf8);
			padding-bottom:5%;
			padding-top:5%;
		}
			
.phone h2	{	margin-left:3%;
				font-size:250%;
				margin-top:0;
			}
			
.phone div p	{	font-size:120%;}
			
.phone div h4	{	padding-top:3%;
					font-size:150%;
					margin-bottom:1%;
				}

.phone img	{	width:80%;
				height:23em;
			}

.tab div	{	display:inline-block;
				width:45%;
				margin-left:3%;
				text-align:center;
				padding-bottom:3%;
				padding-top:3%;
			}
			
.tab	{	background-image: linear-gradient(to right top, #f8e1be, #ffd4b8, #ffc8ba, #ffbcc4, #ffb4d4, #fdb3da, #fbb3e0, #f7b3e7, #fab6e1, #fcbadb, #fcbed7, #fbc3d4);
			padding-bottom:5%;
			padding-top:5%;
		}
			
.tab h2	{	margin-left:5%;
			font-size:250%;
			margin-top:0;
		}
		
.tab div p	{	font-size:120%;}
			
.tab div h4	{	padding-top:3%;
				font-size:150%;
				margin-bottom:1%;
			}

.tab img	{	width:45%;
				height:23em;
			}
			
.twoProd>div	{	display:inline-block;
					width:45%;
					margin-left:3%;
				}
				
.twoProd div div	{	text-align:center;
						padding-bottom:3%;
						padding-top:3%;
						width:100%;
					}
			
.twoProd	{	background-image: linear-gradient(to right top, #bef3f8, #ade9fa, #a2dffc, #9ed3fd, #a3c5fb, #aeb7ec, #b6a9db, #ba9cc8, #b490ad, #a68795, #947f84, #7e7878);
				padding-bottom:5%;
				padding-top:5%;
			}
			
.twoProd h2	{	margin-left:5%;
				font-size:250%;
				margin-top:0;
			}
		
.twoProd div p	{	font-size:120%;}
			
.twoProd div h4	{	padding-top:3%;
					font-size:150%;
					margin-bottom:1%;
				}

.twoProd img	{	width:60%;
					height:20em;
				}
			
.prod img:hover	{	transform: scale(1.15);
				}

.info	{	padding:0;
			margin:0;
			margin-bottom:3%;
			color:black;
			background-color: #EDE4E2;
			text-align:center;
			padding-top:5%;
			padding-bottom:5%;
		}
		
.info h5	{	font-size:110%;
				margin-bottom:1%;
				font-family:'Arial Rounded MT Bold', sans-serif;
			}
		
.info img	{	width:40%;
				height:auto;
			}
		
.info div	{	display:inline-block;
				margin:3%;
				width:25%;
			}

.info2	{	padding-bottom:5%;}
	
.info2 h3	{	font-size:3em;
				text-align:center;
				margin-bottom:2%;
				font-family:'Arial Rounded MT Bold', sans-serif;
				color:black;
			}

iframe {	height: 70vh; 
			width: 100%; 
		}		
		
@media only screen and (max-width:768px){
	nav ul	{display:none;}
	header	{padding-left:2em;}
	#navTop	{display:none;}
	footer	{line-height:2.5em;}
	nav div	{visibility:visible;}
	.title	{text-align:center;padding-top:55%;}
	.title h2	{margin-bottom:0;}
	.title h3	{margin-top:0;}
	.nav2	{display:none;}
	.info div	{display:block;width:90%;margin:0;margin-left:5%;margin-right:5%;margin-bottom:10%;}
	.info img	{width:30%;}
	.info2	{padding-bottom:8%;}
	.info2 h3	{margin-bottom:6%;}
	.twoProd>div, .tab div, .phone div	{display:block;width:90%;margin-left:5%;margin-right:5%;margin-bottom:10%;}
	.prod img:hover	{	transform: scale(1);}
	}
