* 	{	box-sizing: border-box;
	}

main	{	background-image: radial-gradient(circle, #e9ebeb, #e1e3e3, #d9dbdb, #d2d3d3, #cacbcb, #c4c7c8, #bec2c5, #babdc2, #b2bcc3, #a7bbc2, #9dbabe, #95b9b6);
			font-family:candara,'bookman old style', sans-serif;
		}
	
body	{	margin:0;
		}
		
.clear	{	clear:both;
			margin-top:3em;
		}	
		
header	{	color:#FFFFFF;
			text-align:left;
			padding-left:4%;
			padding-top:0.7em;
			float:left;
			margin:0;
			font-size:2em;
			z-index:2;
		}
			
nav	{	margin:-1em;
		background-color:#000000;
		text-align:right;
		padding-right:3em;
		line-height:2.2em;
		position:fixed;
		width:100%;
		height:4em;
		top:0;
		box-sizing: content-box;
		z-index:2;
		font-family:candara,'bookman old style', sans-serif;
	}

nav li	{	list-style-type:none;
			margin:0;
			display:inline-block;
			padding:1.1em;
			padding-top:0.4em;
			padding-bottom:0.4em;
			color:#FFFFFF;
			cursor:pointer;
			z-index:2;
		}
		
nav li a	{	text-decoration:none;
				color:#FFFFFF;
				z-index:2;
			}		
				
.sub-menu-parent	{	position: relative; 
					}

.sub-menu-parent	{	position: relative; 
						z-index:2;
					}

.sub-menu	{ 	visibility: hidden; 
				opacity: 0;
				position: absolute;
				top: 100%;
				left: -2.5em;
				width: 100%;
				transform: translateY(-2em);
				z-index: -1;
				transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
				text-align:center;
				margin-left:0;
				margin-top:0em;
				z-index:2;
			}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:hover .sub-menu 
{
	visibility: visible; 
	opacity: 1;
	z-index: 2;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s; 
}			
		
nav ul ul li 	{	height:3em;
					padding-top:1em;
					z-index:2;
					padding-left:0.6em;
					display:block;
					border-bottom:0.05em solid #FFFFFF;
					width:7em;
					padding-left:1em;
					margin-left:0;
					text-decoration:none;
					line-height:1.3em;
					background-color:#EEEEEE;
					padding-left:0.7em;
					color:#666666;
				}
				
nav ul ul a	{	color:#666666;}
					
nav li:hover ul	{	display:block;
				}

nav li:link	{	color: #FFFFFF; 
			}
			
nav li:visited	{	color: #FFFFFF; 
				}
				
nav li:hover	{	color: #000000;
					background-color: #FFFFFF;
				}	
				
nav ul ul li:hover 	{	background-color: #CCCCCC;
						color: #FFFFFF;
					}

nav div	{	visibility:hidden;
		}
				
div.more	{	width: 2em;
				height: 0.25em;
				background-color: #FFFFFF;
				margin: 0.3em 4em;
			}
			
.btnDrop	{	position:relative;
				border-radius:1em;
				width:15em;
				height:2em;
				font-size:1em;
				margin:0;
				padding:0;
				cursor:pointer;
				border:none;
				padding-top:0.8em;
				cursor:pointer;
			}
			
.dropDown	{	position:relative;
				display:inline-block;
				bottom:2.9em;
				padding-right:0;
				left:77%;
				width:100%;
			}
			
.dropContent 	{	display: none;
					position: relative;
					background-color: #000000;
					overflow: auto;
					z-index: 1;
					bottom:0em;
					padding:0;
					width:100%;
					right:73.5%;
					height:100vh;
				}
				
.dropContent a	{	text-decoration:none;
					color:#FFFFFF;
					display:block;
				}
				
.dropContent li	{	border-bottom:0.1em solid #FFFFFF;
					width:100%;
					text-align:center;
					padding-top:0.2em;
					position:relative;
					right:0;
				}

.dropDown li:hover	{	background-color: #FFFFFF;
						color:#000000;
					}
					
.dropDown li:hover a	{	color:#000000;
						}
						
.show	{	display:block;
		}
			
#navTop	{	background:none;
			padding:0.5em;
			display: inline-block;
			font-size: 4em;
			height:1.5em;
			margin:0;
			position: fixed;
			bottom: 0.5em;
			right: 0.2em;
			cursor: pointer;
			visibility: hidden;
			color:black;
			font-weight:bold;
			text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
		}	
		
#navTop:hover	{	background:none;
					color:#CCCCCC;
					text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
					text-decoration:none;
				}
		
#navTop.show	{	visibility: visible;
				}
				
		
.row {	padding:0;
		margin-bottom:3em;
	}
		
.col {	float: left;
		width: 50%;
		padding:0;
		text-align:center;
	}
	
.prod .col	{	text-align:center;
				padding-right:5%;
				padding-left:5%;
				font-size:150%;
				font-family:candara,'bookman old style', sans-serif;
				margin:0;
			}
	
.prod h3	{	font-size:2.8em;
				text-align:center;
				padding:0;
				margin:0;
				margin-bottom:3%;
				font-family:'Arial Rounded MT Bold', sans-serif;
				margin-top:5%;
			}
			
.prod h4	{	font-family:'Arial Rounded MT Bold', sans-serif;
			}
		
.col li	{	text-align:left;
			padding-left:2.5%;
		}
		
.tab9 .col li	{	margin-left:10%;
				}
				
.mini .col li	{	margin-left:13%;
				}
		
.row::after {	content: "";
				clear: both;
				display: table;
			}

.mobile	{	display:none;
		}
	
footer p	{	margin:0;
			}
			
footer	{	background-color:#000000;
			color:#AAAAAA;
			text-align:center;
			font-family:sans-serif;
			font-size:0.8em;
			line-height:3em;
			margin:0;
		}

.title h2	{	font-size:300%;
				text-align:center;
				text-shadow: 0.15em 0.15em 0.15em grey;
				padding-top:5%;
			}
			
.nav2	{	background-color:#333333;
			padding:0.3em;
			padding-top:0.1em;
			height:3.1em;
			text-align:center;
			margin-bottom:3%;
			position:sticky;
			top: 2.5em;
			z-index:1;
			margin-bottom:0;
		}
			
.nav2 ul li	{	list-style-type:none;
				display:inline;
				padding:0;
				margin:9em;
			}
			
.nav2 a	{	text-decoration:none;
			color:white;
		}
		
.nav2 a:hover	{	text-decoration:underline white;
				}
	
.tab9, .mini	{	margin:0;
					padding-bottom:2em;
				}
	
.tab9	{	background-color: #f89b9e;
			background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
			color:#FB456B;
			padding:10%;
			padding-top:8%;
			padding-bottom:7%;
		}
		
.mini	{	background-color: #bfe299;
			background-image: linear-gradient(315deg, #bfe299 0%, #66b5f6 74%);
			color:#000077;
			padding:5%;
			padding-top:7em;
		}
		
.prod img	{	transition: all .2s ease-in-out; 
			}

.prod img:hover 	{	transform: scale(1.15); 
					}
					
.whyGEN	{	padding-bottom:3%;
			background-image: linear-gradient(to right bottom, #000000, #190810, #260f1d, #33132c, #3d183f, #461d4f, #4e2260, #552972, #632e83, #723393, #8238a4, #923cb5);
			margin:0;
		}					
					
.whyGEN	h2	{	text-align:center;
				font-size:2.5em;
				font-family:'Arial Rounded MT Bold', sans-serif;
				padding-top:2.5%;
				padding-bottom:1.5%;
				margin-top:0;
				color:white;
			}
			
.whyGEN .row	{	margin:0;
					padding:0;
				}

.box	{	padding:2em;
			padding-top:3em;
			margin-left:1.5em;
			margin-right:1.5em;
			height:38em;
		}
		
.box h3	{	margin-top:2%;
			font-size:1.6em;
			font-family:'Arial Rounded MT Bold', sans-serif;
		}
		
.white	{	background-color:white;
			color:black;
		}
		
.black	{	background-color:black;
			color:white;
		}
		
.box img	{	width:100%;height:auto;
			}
			
.banner	{	background:url(Images/tablet/tablet_banner.png) no-repeat center center fixed;
			width:100%;
			background-size:contain;
			height:100vh;
		}
		
img	{	z-index:3;
	}
		
@media only screen and (max-width:768px){
	nav ul	{display:none;}
	header	{padding-left:2em;}
	#navTop	{display:none;}
	footer	{line-height:2.5em;}
	nav div	{visibility:visible;}
	.mobile	{display:block;}
	.desktop	{display:none;}
	.col	{float: none;text-align:center;padding:0;width:100%;}
	.whyGEN .col	{margin-bottom:7%;margin-top:0;}
	.row	{display: block;}
	.prod img	{padding-top:3em;padding-bottom:1em;max-width:100%;height:auto;}
	.nav2	{display:none;}
	.title h2	{	font-size:200%;text-align:center;}
	.box img,.title img	{width:100%;height:auto;}
	.box	{height:auto;}
	.banner	{background:url(Images/tablet/mob_tablet_banner.png) no-repeat center center fixed;background-attachment:fixed;background-size:contain;}
	header	{padding-left:10%}
	.prod img:hover	{transform:none;}
	.prod h3	{font-size:160%;}
	.prod li	{font-size:80%;}
	.mini .mobile li	{	margin-left:3%;}
	.mini	{padding-top:0}
	}